h1 {
    color: blue;
}

.vticon {
    float: right;
}

.vticon:hover {
    width: 58px;
    transition: linear 0.5s;
}
.yes {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}
.no {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}
