h1 {
    color: blue;
}

.vticon {
    float: right;
}

.vticon:hover {
    width: 58px;
    transition: linear 0.5s;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid #bbb;
}

.hidden {
    display: inline-block;
    visibility: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text {
    display: inline;
}
.text:hover + .hidden {
    display: inline-block;
    visibility: visible;
}

.clearscans {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0.2em 0.4em 0.2em;
    line-height: 1;
    border-radius: 0.7em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1rem;
}

.clearscans:hover {
    transition: linear 0.2s;
    cursor: pointer;
    background: bisque;
}

.copyright {
    font-size: 10px;
    color: #ccc;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 0.5rem /* 6px */;
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem; /* 4px ;*/
}

.stat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: inline-block;
}
