h1 {
    color: rgb(106, 106, 209);
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: rgb(106, 106, 209);
    }
    body {
        background-color: rgb(39, 38, 38);
        color: white;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: rgb(106, 106, 209);
    }
    .line {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 3px solid #bbb;
    }
    .clearscans:hover {
        transition: linear 0.2s;
        cursor: pointer;
        background: rgb(106, 106, 209);
    }

    .copyright {
        font-size: 10px;
        color: #ccc;
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        color: white;
        text-decoration: none;
        background-color: blue;
        border-radius: 0.5rem /* 6px */;
        padding-left: 0.5rem /* 8px */;
        padding-right: 0.5rem /* 8px */;
        padding-top: 0.25rem /* 4px */;
        padding-bottom: 0.25rem; /* 4px ;*/
    }

    .changeApiKey {
        background: rgb(106, 106, 209);
        border-width: 0;
        cursor: pointer;
        border-radius: 0.5rem /* 6px */;
        padding-left: 0.5rem /* 8px */;
        padding-right: 0.5rem /* 8px */;
        padding-top: 0.25rem /* 4px */;
        padding-bottom: 0.25rem; /* 4px ;*/
    }
}

@media (prefers-color-scheme: light) {
    h1 {
        color: blue;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: blue;
    }
    .line {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 3px solid #bbb;
    }
    .clearscans:hover {
        transition: linear 0.2s;
        cursor: pointer;
        background: rgb(199, 199, 223);
    }

    .copyright {
        font-size: 10px;
        color: #ccc;
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        color: white;
        text-decoration: none;
        background-color: blue;
        border-radius: 0.5rem /* 6px */;
        padding-left: 0.5rem /* 8px */;
        padding-right: 0.5rem /* 8px */;
        padding-top: 0.25rem /* 4px */;
        padding-bottom: 0.25rem; /* 4px ;*/
    }

    .changeApiKey {
        background: rgb(199, 199, 223);
        border-width: 0;
        cursor: pointer;
        border-radius: 0.5rem /* 6px */;
        padding-left: 0.5rem /* 8px */;
        padding-right: 0.5rem /* 8px */;
        padding-top: 0.25rem /* 4px */;
        padding-bottom: 0.25rem; /* 4px ;*/
    }
}

.vticon {
    float: right;
}

.vticon:hover {
    width: 58px;
    transition: linear 0.5s;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: inline-block;
    visibility: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text {
    display: inline;
}
.text:hover + .hidden {
    display: inline-block;
    visibility: visible;
}

.clearscans {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0.2em 0.4em 0.2em;
    line-height: 1;
    border-radius: 0.7em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1rem;
}

.stat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: inline-block;
}
